@font-face {
  font-family: 'Aeonik-Regular';
  src: url('../src/assets/fonts/aeonik/AeonikTRIAL-Regular.otf');
}

@font-face {
  font-family: 'Aeonik-Bold';
  src: url('../src/assets/fonts/aeonik/AeonikTRIAL-Bold.otf');
}
/* 
@font-face {
  font-family: 'Aeonik-Bold';
  src: url('../src/assets/fonts/aeonik/');
} */

@font-face {
  font-family: 'Mellow-Bold';
  src: url('../src/assets/fonts/made-mellow/MADEMellowPERSONALUSE-Bold.otf');
}

#app {
  font-family: 'Aeonik-Regular';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Mellow-Bold';
}

.green {
  color: #11453B;
}

.gold {
  color: #B4A572;
}

.red {
  color: #EA4E4B;
}

.grey {
  color: #515251;
}

@media (max-width: 575px) {
  h2 {
    font-size: 2rem !important;
  }
}