@font-face {
  font-family: 'Aeonik-Regular';
  src: url('../src/assets/fonts/aeonik/AeonikTRIAL-Regular.otf');
}

@font-face {
  font-family: 'Aeonik-Bold';
  src: url('../src/assets/fonts/aeonik/AeonikTRIAL-Bold.otf');
}
/* 
@font-face {
  font-family: 'Aeonik-Bold';
  src: url('../src/assets/fonts/aeonik/');
} */

@font-face {
  font-family: 'Mellow-Bold';
  src: url('../src/assets/fonts/made-mellow/MADEMellowPERSONALUSE-Bold.otf');
}

#app {
  font-family: 'Aeonik-Regular';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Mellow-Bold';
}

.green {
  color: #11453B;
}

.gold {
  color: #B4A572;
}

.red {
  color: #EA4E4B;
}

.grey {
  color: #515251;
}

@keyframes bounce {
	0%, 100%, 20%, 50%, 80% {
		-webkit-transform: translateY(0);
		-ms-transform:     translateY(0);
		transform:         translateY(0)
	}
	40% {
		-webkit-transform: translateY(-10px);
		-ms-transform:     translateY(-10px);
		transform:         translateY(-10px)
	}
	60% {
		-webkit-transform: translateY(-5px);
		-ms-transform:     translateY(-5px);
		transform:         translateY(-5px)
	}
}

@media (max-width: 575px) {
  h2 {
    font-size: 2rem !important;
  }
}